1:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: #fff;
  --light-color: #191919;
  --light-code: tomato;

  --dark-bg: #191919;
  --dark-color: #fff;
  --dark-code: gold;
}
* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}
code {
  color: light-dark(var(--light-code), var(--dark-code));
}
body {

	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;

}
